// comments 
#comments {
	clear: both;
	position: relative;
	.comments-title {
		font-size: 14px;
		padding-top: 20px;
		padding-bottom: 20px;
		line-height: 22px;
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px;
	}
	ol {
		&.commentlist {
			li {
				position: relative;
				list-style-type: none;
				article {
					.comment-author {
						float: left;
						margin-right: 10px;
						width: 64px;
						height: 64px;
						img {
							border-radius: 32px;
						}
					}
					.comment-parent-box {
						position: relative;
						h3 {
							color: #000;
							padding: 10px;
							font-weight: bold;
							font-size: 13px;
							padding-bottom: 0;
							margin-bottom: 10px;
						}
						.comment-meta {
							margin-top: -15px;
							a {
								color: #888;
								font-size: 12px;
							}
							span {
								font-size: 12px;
								padding-right: 5px;
								color: #888;
								
							}
						}
						.comment-awaiting-moderation {
							padding-top: 10px;
							line-height: 18px;
						}
						p {
						    font-size: 14px;
						    margin-bottom: 1.5em;
						}
					}
				}
				.comment-content {
				    font-size: 14px;
				    margin-bottom: 1.5em;
					margin-left: 70px;
					p {
					    font-size: 14px;
					    margin-bottom: 1.5em;
					}
					.edit-link {
						a {
							color: #4ba8ff;
							&:hover {
								color: $green;
							}
						}
					} // edit link
					.reply {
						a {
							color: #4ba8ff;
							&:hover {
								color: $green;
							}
						}
					} //reply
				}
			} // li
		} // commentlist
	} // ol
	ol {
		&.children {
			li {
				margin-left: 60px;
			}
		}
	}
} // comments

// comments for projects
.comments_tab {
	#comments {
		ol {
			padding-left: 0;
			li {
				margin: 0;
			}
			&.children {
				li {
					margin-left: 30px;
				}
			}
		}
	}
}