body {
	-webkit-font-smoothing: antialiased;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

img, video {
  max-width: 100%;
  height: auto;
}

blockquote {
  &.left {
    float: left;
    margin-left: 0;
    margin-right: 20px;
    text-align: right;
    width: 33%;
  }
  &.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
    text-align: left;
    width: 33%;
  }
}

h1 { 
	font-size: 38px; 
	line-height: 48px; 
	margin-bottom: 7px; 
}

h2 { 
	font-size: 30px; 
	line-height: 40px; 
	margin-bottom: 10px;
}

h3 { 
	font-size: 24px; 
	line-height: 34px; 
	margin-bottom: 7px;
}

h4 { 
	font-size: 18px; 
	line-height: 32px; 
	margin-bottom: 7px; 
}

h5 { 
	font-size: 16px; 
	line-height: 26px; 
	margin-bottom: 7px; 
}

h6 { 
	font-size: 14px; 
	line-height: 24px; 
	margin-bottom: 7px;  
}

.entry-summary {
	word-wrap: break-word;
}
.entry-content {
	word-wrap: break-word;
	h1 {
	    margin: 24px 0;
	    color: #30303f;
		font-size: 28px;
		font-weight: bold;
	}
	h2 {
	    font-size: 24px;
	    padding: 0 0 3px 0;
	    margin: 10px 0 15px 0;
	    color: #30303f;
	}
	h3 {
	    color: #30303f;
	    font-size: 20px;
	    padding: 0 0 3px 0;
	    margin: 10px 0 15px 0;
	}
	h4 {
	    margin: 24px 0;
	    color: #30303f;
	    font-size: 16px;
	    font-weight: bold;
	}
	h5 {
	    margin: 24px 0;
	    color: #30303f;
	    font-size: 14px;
	    font-weight: bold;
	}
	h6 {
	    margin: 24px 0;
	    color: #30303f;
	    font-size: 12px;
	    font-weight: bold;
	}
	p {
		margin: 0 0 24px;
		font-weight: 400;
	}
	li {
		margin: 0 0 0 36px;
	}
	ul {
		list-style: disc;
		 margin: 0 0 24px;
		 ul {
		 	 margin-bottom: 0;
		 }
	}
	ol {
		list-style: decimal;
		 margin: 0 0 24px;
		 ol {
		 	 margin-bottom: 0;
		 }
	}
	blockquote {
	  margin-bottom: 24px;
	  padding: 24px;
	  font-style: italic;
	  background-color: #eeeeea;
	  border: 1px solid #fafafa;
	  	p:last-child {
	    	margin-bottom: 0;
	  	}
	}
	code {
	  font-family: Consolas, Monaco, Lucida Console, monospace;
	  font-size: 12px;
	  line-height: 2;
	}
	pre {
	  border: 1px solid #ededed;
	  color: #666;
	  font-family: Consolas, Monaco, Lucida Console, monospace;
	  font-size: 12px;
	  line-height: 1.714285714;
	  margin: 24px 0;
	  overflow: auto;
	  padding: 24px;
	  code {
	    display: block;
	  }
	}
	abbr {
	    border-bottom: 1px dotted #666;
	    cursor: help;
	}
	dfn {
	    border-bottom: 1px dotted #666;
	    cursor: help;
	}
	acronym {
	    border-bottom: 1px dotted #666;
	    cursor: help;
	}
    address {
     display: block;
     margin: 0 0 24px;
   }
   dt {
     font-weight: bold;
   }
   dd {
     margin-bottom: 24px;
   }
   table {
     border-bottom: 1px solid #ededed;
     color: #757575;
     font-size: 12px;
     line-height: 2;
     margin: 0 0 24px;
     width: 100%;
	 	caption {
	  	  font-size: 16px;
	   	  margin: 24px 0;
	 	}
   }
   td {
     border-top: 1px solid #ededed;
     padding: 6px 10px 6px 0;
   }
   dl {
     margin: 0 24px;
   }
}

.mu_register {
	h2 {
	    font-size: 24px;
	    padding: 0 0 3px 0;
	    margin: 10px 0 15px 0;
	    color: #30303f;
	}
	p {
		 margin: 0 0 24px;
	}
	li {
		margin: 0 0 0 36px;
	}
	ul {
		list-style: none;
		 margin: 0 0 24px;
		 ul {
		 	 margin-bottom: 0;
		 }
	}
	ol {
		list-style: none;
		 margin: 0 0 24px;
		 ol {
		 	 margin-bottom: 0;
		 }
	}
}

.entry-summary {
	p {
		 margin: 0 0 24px;
		 font-weight: 400;
	}
}

.entry-date abbr {
  cursor: default;
}

img {
  &.alignleft {
    margin: 0 24px 12px 0;
  }
  &.alignright {
    margin: 0 0 12px 24px;
  }
  &.aligncenter {
    margin-top: 0;
    margin-bottom: 12px;
  }
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
    margin-right: 1.5em;
}
.alignright,
img.alignright {
	display: inline;
	float:  right;
 	margin-left: 1.5em;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.entry-content {
  embed, iframe, object, video {
    margin-bottom: 24px;
  }
	img {
		&.transparent {
			border: none;
			padding: 0;
			background-color: transparent;
		}
		&.singlethumb {
			margin: -11px 0 0 0 !important;
		}
		&.size-projectpage-large {
			width: 100%;
			height: auto;
			padding: 0;
		}
	}
}

.wp-caption {
	text-align: center;
	margin-bottom: 1.5em;
	background: rgb(252,252,252);
	border: 1px solid #ddd;
	font-size: .8em;
	img {
		border: 0 none;
		margin: 4px 0 0 0;
		padding: 0;
	}
}
.wp-caption p.wp-caption-text {
	margin: 0 !important;
}
.wp-smiley { 
	max-height: 1em;
	margin:0 !important;
}

.gallery dl {
	margin: 0;
}
.gallery-caption {
	margin:-1.5em 0 0 0;
}