// easy digital download custom 

.edd-submit {
	&.button {
		background-color: $green;
		color: #fff;
		border: none;
		&:focus {
			background-color: $green;
			color: #fff;
			border: none;
			&:hover {
				background-color: $hover_color;
				color: $hover_text_color;
			}
		}
		&:active {
			background-color: $green;
			color: #fff;
			border: none;
		}
		&:hover {
			background-color: $hover_color;
			color: $hover_text_color;
		}
		&.blue {
			background-color: $green;
			color: #fff;
			border: none;
			width: auto;
			&:focus {
				background-color: $green;
				color: #fff;
				border: none;
				&:hover {
					background-color: $hover_color;
					color: $hover_text_color;
				}
			}
			&:active {
				background-color: $green;
				color: #fff;
				border: none;
			}
			&:hover {
				background-color: $hover_color;
				color: $hover_text_color;
			}
		}
		&.gray {
			@extend .blue;
		}
	}
}

#edd-purchase-button {
	border: 0;
}

.edd-submit {
	border: 0;
}

input[type-submit] {
	&.edd-submit {
		border: 0;
	}
}