input[type="text"] {
	&:focus {
		outline: none;
	}
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input {
	&:focus {
		outline: none;
	}
    -webkit-appearance: none;
    -webkit-border-radius: 0; 
}
form {
	p {
		@extend label;
	}
	input[type="submit"] {
		text-align: center;
		color: #fff;
		background-color: $green;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 12px;
		border-radius: 4px 4px 4px 4px;
		border: 1px solid transparent;
		padding: 9px 19px;
		margin: 8px auto;
		cursor: pointer;
		display: block;
		width: auto;
		box-shadow: none;
		text-indent: 0;
		&:hover {
			background-color: $hover_color;
			color: $hover_text_color;
		}
	}
	
	textarea {
  	  font-size: 13px;
  	  line-height: 18px;
  	  padding: 8px;
  	  height: inherit;
  	  color: #90a4ae;
  	  display: block;
  	  border: 1px solid #e7ebed;
  	  border-radius: 4px 4px 4px 4px;	
  	  width: 100%;
  	  background: #fdfdfd;
  	  font-weight: 100;
  		&:focus {
  		outline: none;
  		}
      -webkit-appearance: none;
      -webkit-border-radius: 0; 
  }
	
	select {
	  width: auto;
	  color: #90a4ae;
	  font-weight: normal;
	  font-size: 11px;
	  line-height: 20px;
	  margin: 0 0 10px;
	  padding: 8px 22px 5px 8px;
	  border: 1px solid #e7ebed;
	  border-radius: 4px 4px 4px 4px;
	  cursor: pointer;
	  text-indent: 0.01px;
	  text-overflow: "";
	  background: url("images/select-arrow.png") no-repeat 95% 15px #fff;
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  -ms-appearance: none;
	  appearance: none;
	  outline: none;
	}
	input[type="date"] {
		width: 20%;
	}
	
	input[type="file"] {
	  text-indent: 0;
	  background: transparent;
	  border: 0;
	  font-size: 12px;
	  cursor: pointer;
	}
	input[type="file"]::-webkit-file-upload-button {
		background: #e7ebee;
		border-radius: 0px;
		padding: 8px;
		cursor: pointer;
		border: 0;
		outline: 0;
		color: #455a64;
		margin-right: 10px;
	}
	label {
	  color: #455a64;
	  display: block;
	  font-size: 12px;
	  font-weight: 700;
	  text-indent: 3px;
	  vertical-align: text-bottom;
	  padding-left: 8px;
	  padding-bottom: 4px;
	  text-transform: uppercase;
	}
	input {
	  font-size: 13px;
	  line-height: 18px;
	  padding: 8px;
	  height: inherit;
	  color: #90a4ae;
	  display: block;
	  border: 1px solid #e7ebed;
	  border-radius: 4px 4px 4px 4px;	
	  width: 100%;
	  background: #fdfdfd;
	  font-weight: 100;
	}
	input[type=checkbox] {
		 -webkit-appearance: checkbox;
	}
	input[type=radio] {
		 -webkit-appearance: radio;
	}
	input[type=checkbox], input[type=radio]{
		display: inline-block;
		width: 20px;
		float: left;
		position: relative;
		top: 0px;
	}
	input[type=checkbox] + label {
		display: inline-block;
		vertical-align: middle;
	}
	input[type=radio] + label {
		display: inline-block;
		vertical-align: middle;
	}
}

// search form
a.search {
	padding-right: 12px;
	&:hover {
		cursor: pointer;
	}
}

#header-search {
	&.search-form {
		display: none;
		position: absolute;
		top: -3px;
		right: 24px;
		z-index: 10000;
		width: 240px;
		// -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
		// -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
		// box-shadow: 0 0 10px rgba(0,0,0,0.5);

		form {
			input[type=text] {
			   background: #fff none repeat scroll 0 0;
		       border: 1px solid $green;
		       line-height: 20px;
		       position: relative;
		       width: 144px;
		       z-index: 9999;
			}
			@-moz-document url-prefix() {
			    input[type=text] {line-height: 22px;}
			}
			input[type=submit] {
				font-weight: bold;
				&:hover{
					background-color: rgba(0, 246, 168, 0.9);
					color: $hover_text_color;
				}
			}
			&#searchform {
				margin: 0;
			}
		}
	}
}

.widget_search {
	#searchform {
		input[type=text] {
			width: 144px;
		}
		@include breakpoint(laptop) {
			width: 265px;
		}
	}
}

#searchform {
		width: 270px;
		margin-top: 20px;

		input[type=text], 
		input[type=submit] {
			float: left;
			margin: 0;
		}
		input[type=text] {
			width: 175px;
			line-height: 20px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		input[type="submit"] {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			font-weight: bold;
			&:hover {
				background-color: $hover_color;
				color: $hover_text_color;
			}
		}
}

span.wpcf7-form-control {
	&.wpcf7-checkbox {
		input[type=checkbox] {
			 -webkit-appearance: checkbox;
		}
		.wpcf7-list-item-label {
			float: left;
			width: auto;
			margin-right: 2px;
			margin-left: 2px;
			position: relative;
			top: -5px;
		}
	}
}
span.wpcf7-form-control {
	&.wpcf7-radio {
		input[type=radio] {
			 -webkit-appearance: radio;
		}
		.wpcf7-list-item-label {
			float: left;
			width: auto;
			margin-right: 2px;
			margin-left: 2px;
			position: relative;
			top: -5px;
		}
	}
}
.memberdeck form .payment-errors a {
	color: #fff;
}