
// Maintain ratio mixin. Great for responsive grids, or videos.
// https://gist.github.com/brianmcallister/2932463
// 
// $ratio - Ratio the element needs to maintain.
// 
// Examples
// 
//   // A 16:9 ratio would look like this:
//   .element {
//     @include maintain-ratio(16 9);
//   }
@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }
 
  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  
  width: $width;
  height: 0;
  padding-bottom: $height;
}


// Media Query Breadkpoints 
@mixin breakpoint($point) {
   @if $point == desktop {
     @media screen and (min-width: 1251px) { @content ; }
  }
  
   @else if $point == laptop {
     @media screen and (min-width: 1025px) and (max-width: 1250px) { @content ; }
  }
    @else if $point == tablet {
     @media screen and (min-width: 769px) and (max-width: 1024px) { @content ; }
  }
  
  @else if $point == mobile {
     @media screen and (max-width: 768px)  { @content ; }

  }
  //  @else if $point == phablet {
  //    @media screen and (max-width: 680px)  { @content ; }
  // }

}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}