
/* Pagination */

.pagination {
	color: #666;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 17px;
	text-align: center;
	float: left;
	margin: 0 auto;
	width: 100%;
	@include breakpoint(tablet) {
		width: 316px;
	}
	@include breakpoint(mobile) {
		width: 280px;
	}
    a {
	    text-decoration: none;
	    background-color: #f8f8f8;
	    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.11);
	    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.11);
	    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.11);
		border-bottom: 2px solid transparent;
	    padding: 8px;
		&.next:after {
	      content: " ›";
	      color: $green;
	    }
		&.prev:before {
		  content: "‹ ";
		  color: $green;
		}
    }
	span.current {
			color: #fff;
			border-bottom: 2px solid $green;
			text-decoration: none;
			background-color: $green;
			-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.11);
			-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.11);
			box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.11);
			padding: 8px;
	    }
  li {
	  float: left;
	  list-style-type: none;
	  margin-right: 2px;
    a {
	    text-decoration: none;
	    background-color: #f8f8f8;
	    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.11);
	    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.11);
	    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.11);
		border-bottom: 2px solid transparent;
	    padding: 8px;
		&.next:after {
	      content: " ›";
	      color: $green;
	    }
		&.prev:before {
		  content: "‹ ";
		  color: $green;
		}
    }
    &.selected a, span.current {
		color: #fff;
		border-bottom: 2px solid $green;
		text-decoration: none;
		background-color: $green;
		-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.11);
		-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.11);
		box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.11);
		padding: 8px;
    }
  } 
}

.pagination {
	.nav-previous, .nav-next {
		display: none;
	}
}