// Widgets 

#sidebar {
  h3.widget-title {
    border-bottom: 1px solid #f7f7f7;
    margin: 0;
    padding: 15px;
    font-size: 15px;
    color: #888;
    width: 100%;
	text-transform: uppercase;
  }
}
.widget-container {list-style: none;}

.widgeticons {
  padding: 20px;
  i {
    font-size: 30px;
    color: #ccc;
    margin-right: 10px;
  }
}

.widget-container {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
    -moz-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
    box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
    margin-bottom: 40px;
		ul {
			li {
				border-bottom: 1px solid #f7f7f7;
				padding-left: 15px;
				padding: 10px;
				&:last-child {
					border-bottom: none;
				}
				a {
					display: block;
					font-size: 14px;
					padding-left: 10px;
					&:hover {
						color: $green;
					}
				}
			}
		} // category li 
		li {
			a {
				color: #888;
				font-size: 14px;
				line-height: 18px;
				&:hover {
					color: #444;
				}
			}
		}
	.textwidget {
		padding: 15px;
	}
	#calendar_wrap {
		padding: 15px;
		#wp-calendar {
			width: 100%;
		}
	} // calendar
	&.widget_archive {
		display: inline-block;
		width: 100%;
		label {
			padding: 15px;
			font-size: 14px;
			color: #888;
			display: block;
			float: left;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		select {
		  width: auto;
		  color: #90a4ae;
		  font-weight: normal;
		  font-size: 11px;
		  line-height: 20px;
		  margin: 13px 0 10px 0;
		  display: block;
		  float: left;
		  padding: 8px 22px 5px 8px;
		  border: 1px solid #e7ebed;
		  border-radius: 4px 4px 4px 4px;
		  cursor: pointer;
		  text-indent: 0.01px;
		  text-overflow: "";
		  background: url("images/select-arrow.png") no-repeat 95% 15px #fff;
		  -webkit-appearance: none;
		  -moz-appearance: none;
		  -ms-appearance: none;
		  appearance: none;
		  outline: none;
		}
	} // archive 
	form {
		padding: 15px;
		display: inline-block;
		width: 100%;
	}
}

// 500 default widgets
#sidebar {
	.fh_widget {
		background-color: #fff;
	    -webkit-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
	    -moz-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
	    box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
		margin: 0 0 40px 0 !important;
	}
}

#container {
	.home-hero-widget {
		.fh_widget.fullwindow {
			margin-top: -100px;
			@include breakpoint(mobile) {
				  margin-top: 0;
		  	  }
		}
		h3 {font-size: 200%;}
		@include breakpoint(tablet) {
		.ign-content-fullalt {
				padding: 100px 0 30px 0 !important;
			}
		}
		@include breakpoint(mobile) {
			.ign-content-fullalt {
				padding: 100px 0 10px 0 !important;
			}
		}
	}
	.fh_widget {
		.widget-title {
			@include breakpoint(mobile) {
				text-align: center;
			}
		}
		a:active {
			color: $green; 
		}
		a:hover {
			color: lighten( $green, 10% );
		}
		&.ctabox {
			height: 160px;
			.fullwindow-internal {
				height: 160px;
			}
			.constrained {
				padding-top: 30px;
				margin: 0 auto;
				div {
		     	display: inline-block;
		     	padding-right: 20px;
		     	vertical-align: middle;
		     	height: auto;
					@include breakpoint(mobile) {
				  	  	height: auto;
				  	  	display: block;
						margin: 0 auto;
					}
				}
			}	  	
		    .ctaicon {
		      width: 5%;
		      padding-top: 15px;
		      text-align: center;
			
		  	  @include breakpoint(mobile) {
				  width: 100%;
				  padding-top: 0;
		  	  }
		      i {
		        font-size: 30px;
		        color: #00ad56;
		        -webkit-transform: rotate(340deg);
		        -moz-transform: rotate(340deg);
		        -o-transform: rotate(340deg);
		        -ms-transform: rotate(340deg);
		      }
		    }
		    .ctabutton {
		      padding-top: 5px;
	  	  	  
	  	  	  @include breakpoint(mobile) {
	  			  margin-right: 20px;
	  	  	  }
		      a {
		        -webkit-border-radius: 4px 4px 4px 4px;
		        -moz-border-radius: 4px;
		        border-radius: 4px 4px 4px 4px;
		        background-color: #fff;
		        color: $green;
		        font-size: 18px;
		        padding: 15px;
		        padding-left: 30px;
		        padding-right: 30px;
		        text-align: center;
		        text-decoration: none;
		        font-weight: 400;
		        display: block;
				&:hover {
					color: $hover_text_color;
				}
		      }
		    }
		    .ctacontent {
	  		  width: 68%;
			  
			  @include breakpoint(laptop) {
				  width: 60%;
		  	  }
		  	  @include breakpoint(mobile) {
				  width: 100%;
				  text-align: center;
				  padding-bottom: 10px;
		  	  }
				h1 {
					font-size: 26px;
		  		  @include breakpoint(tablet) {
					  font-size: 18px;
		  	  	  }
		  	  	  @include breakpoint(mobile) {
		  			  font-size: 18px;
		  	  	  }
					color: #fff;
					font-weight: 200;
				}
				h3 {
				  color: #fff;
				  font-weight: 100;
		  	  	  @include breakpoint(tablet) {
					  padding-top: 2px;
					  font-size: 16px;
		  	  	  }
		  	  	  @include breakpoint(mobile) {
		  			  padding-top: 2px;
		  	  	  }
				}
		    }
		}
		&.newsletter {
			input {
				&[type="text"] { 
					font-family: FontAwesome;
				}
			    &::-webkit-input-placeholder {
		          color: #ccc;
		          font-size: 12px;
		          font-style: italic;
		        }
		        &::-moz-placeholder {
		          /* Firefox 19+ */
		          color: #ccc;
		          font-size: 12px;
		          font-style: italic;
		        }
		        &:-ms-input-placeholder {
		          color: #ccc;
		          font-size: 14px;
		          font-style: italic;
		        }
			}
		} //newsletter
		&.ign-content-normal {
			.ign-text-container {
				h3 {
				    border-bottom: 1px solid #f7f7f7;
				    margin: 0;
				    padding: 15px;
				    font-size: 15px;
				    color: #888;
				    width: 100%;
				    text-transform: uppercase;
				}
				.ign-content-text {
					padding: 15px;
				}
			}
		} // content normal 
		ul {
			padding: 15px;
			li {
				a {
					color: #888;
					font-size: 14px;
					line-height: 18px;
					&:hover {
						color: #444;
					}
				}
			}
		} // ul
		.ign-video-headline {
			h3 {
			    border-bottom: 1px solid #f7f7f7;
			    margin: 0;
			    padding: 15px;
			    font-size: 15px;
			    color: #888;
			    width: 100%;
			    text-transform: uppercase;
			}
		} 
		.ign-content-video {
			padding: 15px !important;
			background-color: #fff !important;
			iframe {
				width: 100%;
				height: 100%;
			}
		} // video
	}
}

#container {
	// parent overrights 
	#sidebar  {
		.ign-content-normal {
			margin: 0;
			padding: 0;
		}
		.ign-content-video {
			margin: 0;
			padding: 0;
			background-color: transparent;
		}
	}
	@include breakpoint(tablet) {
		.ign-content-fullalt {
			padding: 10px 0 30px 0 !important;
		}
	}
	@include breakpoint(mobile) {
		.ign-content-fullalt {
			padding: 10px 0 10px 0 !important;
		}
	}
}

// home feature area 
.home-feature {
	.fullwindow-internal {
	    background-color: #f9f9f9;
	}
	.featuredbox {
	  	li {
			float: left;
			width: 370px;
			margin-bottom: 45px;
			margin-right: 25px;
			@include breakpoint (laptop) {
				width: 320px;
				margin-right: 5px;
			}
			@include breakpoint(tablet) {
	  	  	  	width: 33%;
				margin-right: 5px;
	  	  	}
	  	  	@include breakpoint(mobile) {
	  			width: 100%;
				margin-right: 0;
	  	  	}
			&:last-child {
				margin-right: 0;
			}
			i {
				color: $green;
			    float: left;
			    font-size: 19px;
			    margin-right: 10px;
				padding-top: 11px;
			}
			h1 {
			    color: #000;
		        float: left;
		        font-size: 19px;
		        font-weight: 200;
		        margin-bottom: 10px;
			}
			.ign-content-text {
				color: #888;
			    float: left;
			    font-size: 15px;
			    font-weight: 200;
			    line-height: 26px;
				@include breakpoint(tablet) {
					width: 100%;
				}
				@include breakpoint(phone) {
					width: 100%;
				}
			}
		}
	}
}

//calendar 
#wp-calendar {
	width: 100%;
	#today {
		color: $green;
	}
}