/*!
 Theme Name:   500 Stellar
 Theme URI:    http: //ignitiondeck.com/id/themes/
 Description:  A theme designed for building a crowdfunding platform with IgnitionDeck. Integrates with the free Theme 500 eCommerce framework.
 Author:       Ignitiondeck
 Author URI:   http: //ignitiondeck.com/
 Template:     fivehundred
 Version:      1.1.5
*/
/* =Theme customization starts here
-------------------------------------------------------------- */
@import "variables";
@import "default";
@import "mixins";
@import "slider";
@import "pagination";
@import "widget";
@import "footer";
@import "forms";
@import "comments";
@import "mobile";
@import "wc";
@import "edd";
@import "idc";

@import "../fivehundred/style-reset.css";
@import "../fivehundred/style-widgets.css";


*, :after, :before, input, select, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: $green;
  text-decoration: none;
  &:hover, &:active, &:visited {
    color: darken($green, 10%);
    text-decoration: none;
  }
}

// @group Basic Layout

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	position: relative;
	&.entry-title {
		color: #54c739;
	}
}
h2.entry-title {
	color: #54c739;
	width: 100%;
	&:after {
    	content: '';
    	border: .5px solid #54c739;
    	width: calc(100% - 231px);
    	left: 227px;
    	top: calc((40px - .5px) / 2);
    	position: absolute;
	}
}

h2.entry-title.widget-title {

}

#site-description {
   @include breakpoint(tablet) {
  	  padding-left: 10px;
    }
    @include breakpoint(mobile) {
  	   padding-left: 10px;
    }
}
.home {
	header {
		&#header {
		    margin: 0 auto;
		    width: 90%;
		    max-width: 1170px;
		    position: relative;
		    height: 100px;
		    z-index: 99;
		    background: transparent;
		    box-shadow: none;
		}
	}
    #site-description {
      position: relative;
      margin: 0 auto 10px;
      width: 100%;
      max-width: 960px;
    }
    #container {
      width: 90%;
      min-width: 320px;
      max-width: 1100px;
      margin: 0 auto;
      clear: both;
      padding: 0;
      background: transparent;
      box-shadow: none;
      font-weight: 400;
    }
}

#branding {
    height: 96px;
	width: 170px;
	margin: 0;
	display: inline-block;
	overflow: hidden;
    -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
    @include breakpoint(tablet) {
      max-width: 100%;
      width: 100%;
      text-align: center;
  	  overflow: visible;
    }
    @include breakpoint(mobile) {
      max-width: 100%;
      width: 100%;
      text-align: center;
  	  overflow: visible;
    }
	#site-title {
		@include vertical-align;
		max-height: 96px;
		max-width: 170px;
	    @include breakpoint(tablet) {
	      max-width: 100%;
	      max-height: 100%;
	      text-align: center;
		  padding-top: 15px;
	  	  top: 0;
	  	  -webkit-transform: translateY(0%);
	  	  -ms-transform: translateY(0%);
	  	  transform: translateY(0%);
	    }
	    @include breakpoint(mobile) {
	      max-width: 100%;
	      max-height: 100%;
	      text-align: center;
		  padding-top: 15px;
  		  top: 0;
  	      -webkit-transform: translateY(0%);
  	      -ms-transform: translateY(0%);
  	      transform: translateY(0%);
	    }
		img#logo {
			max-width: 170px;
			max-height: 96px;
		  &:hover {
			  max-width: 170px;
			  max-height: 96px;
	          opacity: .9;
	      }
	    }
	}
}


//admin bar
@include breakpoint(desktop) {
	body.admin-bar {
		#wrapper {
			margin-top: 32px;
		}
		#containerwrapper .sliderimages-fullwindow {
			height: 496px;
		}
	}
}

@include breakpoint(laptop) {
	body.admin-bar {
		#wrapper {
			margin-top: 32px;
		}
		#containerwrapper .sliderimages-fullwindow {
			height: 496px;
		}
	}
}
// internal header
#header {
  background-color: #fff;
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 99;
  -webkit-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
  -moz-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
  box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
  -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  .headerwrapper {
    max-width: 1170px;
    margin: 0 auto;
	top: 50%;
	position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	@include breakpoint(tablet) {
		top: 0;
	    -webkit-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	    transform: translateY(0%);
	}
	@include breakpoint(mobile) {
		top: 0;
	    -webkit-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	    transform: translateY(0%);
	}
  }
}

#container {
  width: 100%;
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  @include breakpoint(tablet) {
  	margin-top: 70px;
  }
  @include breakpoint(mobile) {
  	margin-top: 70px;
  }

  .entry-content {
	  text-align: left;
	  .singlethumb {
		  margin-top: 10px;
	  }
  }
  h2 {
	  &.blog-title {
	  	color: #54c739;
		margin-bottom: 50px;
	  }
  }
}


#wrapper {
  margin: 0;
  margin-bottom: -75px;
  padding: 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  &:after {
    content: "";
    display: block;
  }
}

footer,
#wrapper:after {
    height: 75px;
}

#container {
	.constrained {
	  max-width: 1170px;
	  width: 100%;
	}
}

footer {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  // .push must be the same height as footer
  height: 75px;
}

#wrapper:after {
  // .push must be the same height as footer
  height: 75px;
}

.clear {
  clear: both;
}

.home {
	#header {
		#menu-header {
			max-width: 745px;
			float: right;
			a {
				color: #ccc;
			}
			.dropdown {
				a {
					color: #666;
				}
			}
		}
	}
}

#header {
	.menu-toggle {
		display: none;
	}
	#menu-header {
		max-width: 745px;
		float: right;
		height: 96px;
	    display: inline-block;
	    margin: 0;
		position: relative;
		padding-top: 29px;
		z-index: 9999;
		.search-wrapper {
			float: right;
			width: 30px;
			height: 80px;
			position: relative;

		}
		ul {
		    padding: 0;
		    margin: 0;
		    list-style: none;
		    position: relative;
		    display: block;
			pointer-events: auto;
			float: right;
			li {
				&.createaccount {
					margin-top: -3px;
				    border: 1px solid #f7f7f7;
					border-right: 1px solid transparent;
				    background: transparent;
					-webkit-border-radius: 0;
					  -moz-border-radius: 0;
					  border-radius: 0;
					  -webkit-border-top-left-radius: 4px;
					  -webkit-border-bottom-left-radius: 4px;
					  -moz-border-radius-topleft: 4px;
					  -moz-border-radius-bottomleft: 4px;
					  border-top-left-radius: 4px;
					  border-bottom-left-radius: 4px;
	  				  &:hover {
	  						background-color: $green;
	  						border: 1px solid transparent;
							a {
								color: #fff;
							}
							&:after {
								display: none;
							}
	  				}
					a {
						display: block;
						padding: 10px;
						text-align: center;
					}
				}
				&.login {
					margin-top: -3px;
				    border: 1px solid #f7f7f7;
				    background: transparent;
				    -webkit-border-radius: 0;
				    -moz-border-radius: 0;
				    border-radius: 0;
				    -webkit-border-top-right-radius: 4px;
				    -webkit-border-bottom-right-radius: 4px;
				    -moz-border-radius-topright: 4px;
				    -moz-border-radius-bottomright: 4px;
				    border-top-right-radius: 4px;
				    border-bottom-right-radius: 4px;
				   	&:hover {
						background-color: $green;
						border: 1px solid transparent;
						a {
							color: #fff;
						}
						&:after {
							display: none;
						}
					}

				  	a {
						display: block;
						padding: 10px;
						text-align: center;
					}
				}
				&:hover {
					&:after {
						content: '';
						position: absolute;
						width: 100%;
						height: 3px;
						background-color: $green;
						bottom: -3px;
						left: 0;
					}
				}
			}
			li > a:after {
				content:  ' \f054';
				font-family: FontAwesome;
				font-size: 9px;
				padding-left: 5px;
			}
			li > a:only-child:after {
			    content: '';
			}
			ul {
				li {
					&:hover {
						&:after {
							display: none;
						}
					}
				}
			}
		}
		.dropdown {
			display: none;
			position: absolute;
			top: 36px;
			height: auto;
			z-index: 9999;
			background: #fff;
			border: 1px solid #ebebeb;
			border-radius: 4px;
			border-top-color: $green;
			border-top-width: 6px;
			&:before {
				content: '\f124';
				position: absolute;
				color: $green;
				left: 20px;
				top: -13px;
				z-index: 1;
				font-family: FontAwesome;
				transform: rotate(-45deg);
				font-size: 16px;
			}
			padding: 10px 0;
			li {
				float: none;
				height: auto;
				width: auto;
				min-width: 175px;
				overflow: hidden;
				a {
					text-align: left;
					&:hover {
						color: $green;
					}
				}
			}
		}
		li {
			float: left;
			z-index: 9999;
			position: relative;
			 &:hover > ul {
				display: block;
			}
		}
	    a {
			color: #666;
			font-size: 15px;
			float: none;
			display: block;
			padding: 7px 15px 16px;
			&:hover {
				text-decoration: none;
			}
	   	}
	}

	@include breakpoint(laptop) {
		#menu-header {
			display: block !important;
		}
	}
	@include breakpoint(desktop) {
		#menu-header {
			display: block !important;
		}
	}

	#menu-header .dropdown .dropdown {
		top: 0;
		left: 100%;
	}

	#menu-header ul ul a {
		height: auto;
	}
}

// Change this in order to change the Dropdown symbol

.home nav#menu-header a {
  &.search i {
    color: #ccc;
  }
  &#search-close i {
    color: #ccc;
  }
}

nav#menu-header a {
	&.search {
		i {
			color: #666;
			font-size: 18px;
			cursor: pointer;
		}
		@include breakpoint(tablet) {
			display: none !important;
		}
		@include breakpoint(mobile) {
			display: none !important;
		}
	}
	&#search-close {
		display: none;
		i {
			color: #666;
			font-size: 18px;
			cursor: pointer;
			padding-top: 8px;
		}
		@include breakpoint(tablet) {
			display: none !important;
		}
		@include breakpoint(mobile) {
			display: none !important;
		}
	}

}

// mobile menu

@include breakpoint(tablet) {
	body.admin-bar #header {
		top: 0;
	}

	body.admin-bar {
		padding-top: 0;
	}
	#wpadminbar {
		display: none;
	}
	#header {
		#menu-header {
			display: none;
			padding: 20px;
			position: absolute;
			top: 75px;
			background: #fff;
			width: 100%;
			left: 0;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
			height: auto;
			z-index: 10;
			float: left;
			text-align: left;

			-webkit-box-sizing: border-box;
			-moz-box-sizing:    border-box;
			box-sizing:         border-box;

			-webkit-transform: translate(0, 0);
			-ms-transform:     translate(0, 0);
			transform:         translate(0, 0);

			ul {
				float: none;
				padding: 0;
				margin: 0;
				position: relative;
				top: auto;
				text-align: left;
				z-index: 10;
				li {
					&:hover {
						&:after {
							display: none;
						}
					}
					&.createaccount {
						border: 0;
						margin-top: 0;
						&:hover {
							background: transparent;
							border: 0;
							a {
								background: transparent;
								color: $green;
							}
							&:after {
								display: none;
							}
						}
						a {
						    padding: 6px;
						    display: block;
						    text-align: left;
						}
					}
					&.login {
						border: 0;
						margin-top: 0;
						&:hover {
							background: transparent;
							border: 0;
							a {
								color: $green;
							}
							&:after {
								display: none;
							}
						}
						a {
						    padding: 6px;
						    display: block;
						    text-align: left;
						}
					}
				}
				li {
					&:hover {
						&:after {
							display: none;
						}
					}
				}
				li > a:after {
					display: none;
				}
				ul {
					li {
						a {
							padding: 8px 0;
							text-align: left;
						}
					}
				}
				.dropdown {
					li {
						margin: 0;
						padding: 0;
					}
				}
			}
			.dropdown {
				margin-left: 20px;
				display: block !important;
				position: relative;
				top: auto;
				width: auto;
				background: none;
				border: 0;
				padding: 0;
				&:before {
					display: none;
				}
				.dropdown {
					left: 0;
					right: auto;
				}
			}
			li {
				float: none;
				height: auto;
				padding: 0;
				text-align: left;
				z-index: 10;
				a {
					padding: 6px;
					display: block;
					text-align: left;
				}
			}
		}
		.menu-toggle {
			font-size: 24px;
			display: block;
			right: 10px;
			position: absolute;
			z-index: 10;
			margin-top: 15px;
			i {
				color: $green;
			}
		}
	}
}


@include breakpoint(mobile) {
	body.admin-bar #header {
		top: 0;
	}

	body.admin-bar {
		padding-top: 0;
	}
	#wpadminbar {
		display: none;
	}
	#header {
		#menu-header {
			display: none;
			padding: 20px;
			position: absolute;
			top: 75px;
			background: #fff;
			width: 100%;
			left: 0;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
			height: auto;
			z-index: 10;
			float: left;
			text-align: left;

			-webkit-box-sizing: border-box;
			-moz-box-sizing:    border-box;
			box-sizing:         border-box;

			-webkit-transform: translate(0, 0);
			-ms-transform:     translate(0, 0);
			transform:         translate(0, 0);

			ul {
				float: none;
				padding: 0;
				margin: 0;
				position: relative;
				top: auto;
				text-align: left;
				z-index: 10;
				li {
					&:hover {
						&:after {
							display: none;
						}
					}
					&.createaccount {
						border: 0;
						margin-top: 0;
						&:hover {
							background: transparent;
							border: 0;
							a {
								color: $green;
							}
							&:after {
								display: none;
							}
						}
						a {
						    padding: 6px;
						    display: block;
						    text-align: left;
						}
					}
					&.login {
						border: 0;
						margin-top: 0;
						&:hover {
							background: transparent;
							border: 0;
							a {
								color: $green;
							}
							&:after {
								display: none;
							}
						}
						a {
						    padding: 6px;
						    display: block;
						    text-align: left;
						}
					}
				}
				li > a:after {
					display: none;
				}
				ul {
					li {
						a {
							padding: 8px 0;
							text-align: left;
						}
					}
				}
				.dropdown {
					li {
						margin: 0;
						padding: 0;
					}
				}
			}
			.dropdown {
				margin-left: 20px;
				display: block !important;
				position: relative;
				top: auto;
				width: auto;
				background: none;
				border: 0;
				padding: 0;
				&:before {
					display: none;
				}
				.dropdown{
					left: 0;
					right: auto;
				}
			}
			li {
				float: none;
				height: auto;
				padding: 0;
				text-align: left;
				z-index: 10;
				&:hover {
					> ul {
						display: block;
					}
				}
				a {
					padding: 6px;
					display: block;
					text-align: left;
				}
			}
		}
		.menu-toggle {
			font-size: 24px;
			display: block;
			right: 10px;
			position: absolute;
			z-index: 10;
			margin-top: 15px;
			i {
				color: $green;
			}
		}
	}
}

// home grid

.home .project-grid-wrapper {
	position: relative;
    max-width: 1100px;
    margin-bottom: 40px;
    #project-grid, .project-grid {
		width: 100%;
	    .sectionheading {
	      float: left;
	      padding-top: 40px;
	    }
	}
}

// compagins section
#containerwrapper {
	margin-bottom: -1px;
}

#containerwrapper .campaigns-fullwindow {
  height: 600px;
}

.campaigns {
  background-color: #f9f9f9;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  min-height: 600px;
  color: #000;
  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 5px;
    float: left;
  }
  .sectionheading {
    margin-bottom: 40px;
    float: left;
    padding-top: 40px;
  }
}

.ignition_product .sectionheading {
  margin-bottom: 40px;
  float: left;
}

.campaigns .sectionheading h1, .ignition_product .sectionheading {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.campaigns .sectionheading span, .ignition_product .sectionheading span {
  font-size: 15px;
  color: #999;
}

.campaignselector {
  float: right;
  padding-top: 40px;
  span {
    font-size: 15px;
    font-weight: 400;
    padding-right: 30px;
    &:last-child {
      padding-right: 0;
    }
    i {
      font-size: 10px;
    }
  }
}


#project-grid, .project-grid {
	.ign-project-summary {
		width: calc(24.4375% - 4px);
		margin: 0 .75% 15px 0;
		padding: 0 0 0 0;
		position: relative;
		display: inline-block;
		vertical-align: top;
		color: $default_color;
		font-family: "Open Sans";
		border: 3px solid transparent;
		//box-shadow: 0 2px 0 0 rgba(243, 243, 243, 0.71);
		background-color: #fcfcfc;
		overflow: hidden;
		&:hover {
			border: 3px solid $green;
		}
		&:nth-child(4n + 4) {
			margin-right: 0;
		}
	    @include breakpoint(laptop) {
	       width: 32.5%;
	       margin: 0 .3% 15px 0;
	       &:nth-child(3n + 3) {
	       	margin-right: 0;
	       }
	     }
	     @include breakpoint(tablet) {
	       width: 49%;
	       margin: 0 2% 2% 0%;
	       &:nth-child(2n + 2) {
	       	margin-right: 0;
	       }
	     }
	     @include breakpoint(mobile) {
	       width: 100%;
	       margin: 0 0 5% 0;
	     }
		 .campaign-ribbon {
		     overflow: hidden;
		     position: absolute;
		     left: 0px;
		     top: 0px;
			 z-index: 1;
		   &.success {
			   background-color: $green;
		   }
		   &.unsuccess {
			  background-color: #eb5959;
		  }
		  a {
			  text-transform: uppercase;
			  font-size: 11px;
			  font-weight: 700;
			  color: #fff;
			  text-align: center;
			  text-decoration: none;
			  display: block;
			  margin: 0;
			  padding: 0px 12px 0px 12px;
		  }
		 }
		.ign-summary-container {
			position: relative;
			width: 100%;
	     	border-bottom: 1px solid #ebebeb;
			color: #444;
			i {
				font-style: normal;
			}
			a {
				color: #444;
				&:active {
					color: #444;
				}
				&:visited {
					color: #444;
				}
			}
		   	.ign-summary-item {
			     .ign-summary-image {
					 	padding-top: 56.42%;
						width: 100%;
						background-size: cover;
						background-position-y: 50%;
						background-repeat: no-repeat;
						background-color: $green;
					 &:hover {
						.ign-summary-learnmore {
							display: block;
						}
					 }
					 .ign-summary-learnmore {
					   display: none;
					   position: absolute;
					   top: 50px;
					   left: 45%;
					   @include breakpoint(tablet) {
					   }
					   span > i {
					     color: $green;
					     font-size: 48px;
					     text-decoration: none;
					   }
					 }
				 }
			 }

			 .title {
				 padding-left: 0;
				 position: relative;
				 .project-tag {
					 position: absolute;
					 top: 0px;
					 right: 5px;
					 text-transform: uppercase;
					 color: #9099A3;
					 font-size: 11px;
				 }
				 h3 {
					 color: inherit;
					 padding: 15px 0 0 10px;
				     text-decoration: none;
					 white-space: nowrap;
					 text-overflow: ellipsis;
					 width: 98%;
					 overflow: hidden;
					 margin: 0 !important;
	 					&:visited {
	 						color: inherit;
	 					}
				 }
			 }
			 h3 {
				 &.ign-summary-author {
				     padding: 0;
				     color: #888;
				     font-size: 12px;
				     text-decoration: none;
				     padding-left: 10px;
					 margin: 0 !important;
 						&:visited {
 							color: inherit;
 						}
				 }
			 }
			 .ign-summary-desc {
			     font-size: 13px;
			     padding-left: 10px;
			     padding-right: 10px;
			     display: block;
			     line-height: 20px;
			     white-space: nowrap;
			     text-overflow: ellipsis;
			     width: 98%;
			     overflow: hidden;
			 }
		     .ign-summary-loc {
		       font-size: 12px;
		       font-weight: bold;
			  	&:before {
		         content: "\f041";
		         padding-right: 5px;
		         font-family: FontAwesome;
		         padding-left: 10px;
		       }
		     }
			 .ign-progress-wrapper {
			   width: 65%;
			   font-size: 12px;
			   font-weight: 400;
			   margin-top: 10px;
			   span {
			     color: inherit;
			     display: block;
			   }
			   .ign-progress-bar {
			     background-color: $secondary_color;
			     height: 3px;
			     position: absolute;
			   }
			   .ign-progress-percentage {
			     border-right: 1px solid #ebebeb;
			     padding-left: 10px;
			     padding-top: 18px;
			     padding-bottom: 18px;
			     float: left;
			     width: 50%;
			     color: #888;
			     line-height: 20px;
			   }
			   .ign-progress-raised {
				   overflow: hidden;
				 @extend .ign-progress-percentage;
			   }
			 }
		   .ign-summary-days {
		     padding: 18px;
			 padding-left: 12px;
		     font-size: 12px;
		     color: #888;
		     float: left;
		     width: 35%;
		     line-height: 20px;
			   span {
			     color: inherit;
			     display: block;
			   }
		   }
		}
	}
}


// taxonomy grid
#taxonomy-grid {
	@extend #project-grid;
}
// search for project
.search-results {
	h1 {
		&.page-title {
			margin-bottom: 20px;
		}
	}
	@extend #project-grid;
	.ign-project-summary {
		width: 32%;
		 @include breakpoint(tablet) {
			 width: 100%
		 }
		 @include breakpoint(mobile) {
			 width: 100%
		 }
	 }
}
#content {
	width: 100%;
	height: 100%;
	&.fullwidth {
	    .sectionheading {
	      margin-bottom: 10px;
	      float: left;
	      h1 {
	        font-size: 18px;
	        color: #000;
	        font-weight: 400;
	        line-height: 25px;
	      }
	      span {
	        font-size: 15px;
	        color: #999;
	      }
	    }
		.campaignselector {
			padding-top: 0;
		}
	}
}
// ignition_product archive
.ignition_product {
  #content {
    width: 75%;
    margin-right: 20px;
	#project-grid {
		.ign-project-summary {
			width: 32%;
			 @include breakpoint(tablet) {
				 width: 100%
			 }
			 @include breakpoint(mobile) {
				 width: 100%
			 }
		}
	}
   @include breakpoint(tablet) {
  	  width: 100%;
  	  margin-bottom: 40px;
	  margin-right: 0;
    }
    @include breakpoint(mobile) {
  	  width: 100%;
  	  margin-bottom: 40px;
	  margin-right: 0;
    }
  }
}


// CTA section

#containerwrapper .ctabox-fullwindow {
  height: 130px;
}

// default template, archive, blog default

#content {
  width: 72%;
 @include breakpoint(tablet) {
	  width: 100%;
	  margin-bottom: 40px;
	  margin-right: 0;
  }
  @include breakpoint(mobile) {
	  width: 100%;
	  margin-bottom: 40px;
	  margin-right: 0;
  }
  float: left;
  margin-right: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
  -moz-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
  box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
  padding-top: 68px;
  line-height: 28px;
  padding: 25px;
  color: #444;
  min-height: 250px;
  &.fullwidth {
	  width: 100%;
	  margin-right: 0;
  }
}

.home #content {
  width: 100%;
  background-color: transparent;
  padding: 0;
  color: inherit;
  box-shadow: none;
  margin: 0;
}

// Ineternal blog page

body {
  background-color: #f7f7f7;
}

.blog {
	.posts-link {
		font-size: 13px;
		.prev-post {
			float: left;
			a {
				color: $green;
				&:hover {
					color: $hover_text_color;
				}
			}
		}
		.next-post {
			float: right;
			a {
				color: $green;
				&:hover {
					color: $hover_text_color;
				}
			}
		}
	}
}
#content.blog {
  width: 72%;
  @include breakpoint(tablet) {
	  width: 100%;
	  margin-bottom: 40px;
	  margin-right: 0;
  }
  @include breakpoint(mobile) {
	  width: 100%;
	  margin-bottom: 40px;
	  margin-right: 0;
  }
  float: left;
  margin-right: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
  -moz-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
  box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
  padding-top: 68px;
  line-height: 28px;
  padding: 25px;
  font-size: 16px;
  color: #444;
}

#sidebar {
  float: left;
  width: 23%;
   @include breakpoint(tablet) {
	  width: 100%;
  }
  @include breakpoint(mobile) {
	  width: 100%;
  }
  .author-bio {
	  padding: 15px;
	  .author-bio-info {
		  float: left;
		  width: 234px;
		  margin-right: 5px;
		  color: #666;
		  padding-bottom: 1px;
		  i {
			  font-style: normal;
		  }
		  span {
			  display: block;
			  font-size: 12px;
			  line-height: 21px;
			  &.contact-location {
				  i {
	  			  	&:before {
		  		         content: "\f041";
		  		         padding-right: 5px;
		  		         font-family: FontAwesome;
		  		    }
				  }
			  }
			  &.contact-facebook {
				  float: left;
				  margin-right: 10px;
				  a {
					  color: #666;
					  &:hover {
						  color: $green;
					  }
					  i {
						  &:before {
							  content: '\f09a';
							  font-family: 'FontAwesome';
						  }
					  }
				  }
			  }
			  &.contact-twitter {
				  a {
					  color: #666;
					  &:hover {
						  color: $green;
					  }
					  i {
						  &:before {
							  content: '\f099';
							  font-family: 'FontAwesome';
						  }
					  }
				  }
			  }
		  }
		  .author-name {
			  font-size: 14px;
			  font-weight: bold;
		  }
		  .contact-link {
			  a {
				  color: $green;
				  font-size: 12px;
				  text-decoration: underline;
				  display: block;
				  &:hover {
				  	color: #666;
				  }
			  }
		  }
	  }
	  .author-bio-profile {
		  width: 64px;
		  height: 64px;
		  float: left;
	  }
  }
}

.product-info #sidebar {
  margin-top: 30px;
}

.entry-content {
	a {
		color: $green;
	}
	p {
		font-size: 14px;
		margin-bottom: 1.5em;
	}
	h2 {
		&.entry-title {
		    margin-top: 5px;
		    margin-bottom: 5px;
			> a {
			    text-decoration: none;
			    font-size: 30px;
			    font-weight: 700;
			    color: #000;
			}
		}
	}
	ul, ol {
		padding-left: 24px;
		li {
			font-size: 14px;
		}
	}
}

.entry-summary {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
    padding-bottom: 20px;
	p {
		font-size: 14px;
		margin-bottom: 1.5em;
	}
	h2 {
		&.entry-title {
		    margin-top: 5px;
		    margin-bottom: 5px;
			> a {
			    text-decoration: none;
			    font-size: 30px;
			    font-weight: 700;
			    color: #000;
			}
			> span {
				a {
				    text-decoration: none;
				    font-size: 30px;
				    font-weight: 700;
				    color: #000;
				}
			}
		}
	}
}


.entry-meta {
  margin-bottom: 10px;
  font-style: italic;
    .entry-date,
    .meta-prep-author {
	   color: #666;
	   font-size: 13px;
	 }
	.meta-sep {
		font-size: 15px;
	}
    .author a {
      color: #3dabff;
      font-size: 15px;
      text-decoration: none;
    }
}

a.more-link {
  color: #3dabff;
  font-size: 15px;
  text-decoration: none;
}


#site-description {
	h1 {
		color: #54c739;
		margin-right: 10px;
	}
	&.project-single {
		h3 {
		    font-size: 28px;
		    margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #e3e3e3;
		}
		p {
	  	    font-size: 21px;
	  	    margin-bottom: 10px;
			line-height: 28px;
		}
		span {
			font-size: 14px;
			color: $default_color;
		}
	}
  margin-bottom: 30px;
	  h1 {
	    font-size: 28px;
		@include breakpoint(tablet) {
			font-size: 22px;
		}
		@include breakpoint(mobile) {
			font-size: 20px;
		}
	    margin-bottom: 10px;
	  }
	  h2 {
		  &.entry-title {
	  	    font-size: 22px;
			@include breakpoint(tablet) {
				font-size: 18px;
			}
			@include breakpoint(mobile) {
				font-size: 16px;
			}
	  	    margin-bottom: 10px;
		  }
	  }
}


// project info

.ign-project-title {
  text-align: center;
  margin-bottom: 50px;
  #site-description {
	  h1 {
	    font-size: 28px;
	    margin-bottom: 10px;
		@include breakpoint(tablet) {
			font-size: 22px;
		}
		@include breakpoint(mobile) {
			font-size: 20px;
		}
	  }
	  h2 {
	    font-size: 22px;
	    margin-bottom: 10px;
		@include breakpoint(tablet) {
			font-size: 18px;
		}
		@include breakpoint(mobile) {
			font-size: 16px;
		}
	  }
  }
  .product-author-details {
	  i {
	    color: #444;
	    font-size: 14px;
	    margin-right: 5px;
	  }
	  span {
	    color: #444;
	    font-size: 14px;
		margin-right: 5px;
		&.project-tag-single {
			a {
				margin-right: 0;
			}
		}
	    a {
	      text-decoration: none;
	      color: #444;
	      margin-right: 20px;
	    }
	}
  }
}

.ignition_project {
  text-align: left;
}

#content.ignition_project {
  width: 100%;
  height: 450px;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
   @include breakpoint(tablet) {
	  height: auto;
  }
  @include breakpoint(mobile) {
	  height: auto;

  }
}

.ignition_project {
  #ign-hDeck-left {
    position: relative;
    width: 800px;
    height: 450px;
    float: left;
	overflow: hidden;
	@include breakpoint(laptop) {
		width: 65%;
	}
	@include breakpoint(tablet) {
		width: 100%;
		float: none;
		height: auto;
	}
	@include breakpoint(mobile) {
		width: 100%;
		float: none;
		height: auto;
	}
	.feature-image-wrapper {
	    background-color: $green;
	    height: 450px;
		@include breakpoint(mobile) {
			height: 350px;
		}
		.video {
			  width: 100%;
			  height: 100%;
			  background-size: cover;
			  background-position-y: 50%;
			  background-repeat: no-repeat;
			&.hasvideo {
			position: relative;
			cursor: pointer;
				&:hover {
					&:after {
					    	color: rgba(255,255,255,0.8);
						background: rgba(71,215,156,1);
						box-shadow: 0 0 10px rgba(0,0,0,1);
					}
				}
				&:after {
					content: "\f04b";
					font-family: FontAwesome;
					font-size: 60px;
					line-height: 100px;
					color: rgba(255,255,255,0.5);
					padding-left: 10px;
					text-align: center;
					width: 100px;
					height: 100px;
					margin: auto;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border-radius: 100px;
					background-color: rgba(71,215,156, .8);
					box-shadow: 0 0 10px rgba(0,0,0,0.7);
				}
			}
			iframe {
			    width: 100%;
			    height: 100%;
			    display: none;
			    position: relative;
			    z-index: 99;
			}
		}
	}

  }
  #ign-hDeck-right {
    float: left;
    position: relative;
    height: 450px;
    width: 370px;
	@include breakpoint(laptop) {
		width: 35%;
	}
	@include breakpoint(tablet) {
		width: 100%;
		float: none;
		height: auto;
	}
	@include breakpoint(mobile) {
		width: 100%;
		float: none;
		height: auto;
	}
	.internal {
		display: inline-block;
		width: 100%;
		padding: 30px;
		padding-top: 20px;
		position: relative;
		font-family: "Open Sans";
		@include breakpoint(tablet) {
			padding-bottom: 0;
		}
		@include breakpoint(mobile) {
			padding-bottom: 0;
		}
		div {
			clear: both;
			font-size: 16px;
			&.ign-product-supporters {
				margin-top: 25px;
				padding-bottom: 5px;
			}
			&.ign-days-left {
				margin-top: 25px;
				padding-bottom: 5px;
			}
			&.ign-project-end {
				font-size: 11px;
			}
		}
		#hDeck-right-bottom {
			margin-top: 25px;
			padding-bottom: 5px;
			position: relative;
			a {
				&.expired {
					.expire-tooltip {
						background: #fff;
						border: 1px solid #E3E3E3;
						box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
						padding: 10px;
						border-radius: 4px;
						display: none;
						width: 375px;
						padding-left: 20px;
						padding-right: 20px;
						position: absolute;
						right: 50%;
						margin-top: 20px;
						&:before, &:after {
							bottom: 100%;
							left: 90%;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
						}
						&:before {
							border-width: 16px;
							margin-left: -16px;
							border-color: rgba(227, 227, 227, 0);
							border-bottom-color: #E3E3E3;
						}
						&:after {
							border-color: rgba(255, 255, 255, 0);
							border-bottom-color: #ffffff;
							border-width: 13px;
							margin-left: -13px;
						}
					}
					&:hover {
						.expire-tooltip {
							display: block;
						}
					}
				}
			}
		}
		#ign-share-button {
			margin-top: 25px;
			a {
				border: 2px solid #666;
				background: transparent;
				padding: 5px;
				width: 140px;
				color: #666;
				font-size: 14px;
				border-radius: 4px;
				text-align: center;
				display: block;
				&:hover {
					border: 2px solid $green;
					color: $green;
				}
			}
		}
		#ign-hDeck-social {
			background: #fff;
			border: 1px solid #E3E3E3;
			box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
			padding: 10px;
			border-radius: 4px;
			width: 410px;
			display: none;
			padding-left: 20px;
			padding-right: 20px;
			position: absolute;
			right: 50%;
			margin-top: 20px;
			z-index: 999;
			&:before, &:after {
				bottom: 100%;
				left: 90%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:before {
				border-width: 16px;
				margin-left: -16px;
				border-color: rgba(227, 227, 227, 0);
				border-bottom-color: #E3E3E3;
			}
			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #ffffff;
				border-width: 13px;
				margin-left: -13px;
			}
			@include breakpoint(tablet) {
	  	  	  	position: initial;
	  	  	  	width: auto;
	  	  	}
	  	  	@include breakpoint(mobile) {
	  			position: initial;
	  	  	  	width: auto;
	  	  	}
		}
	    strong {
	       color: #666;
		   font-size: 34px;
	       vertical-align: bottom;
		   padding-bottom: 5px;
		}
    }

    .ign-product-goal > strong {
      font-size: 34px;
      color: $green;
      vertical-align: bottom;
    }
  }
}

#ign-hDeck-social, .idsocial-post-icons.ignitiondeck{
	@include breakpoint(laptop) {
		margin: 0 !important;
	}
	@include breakpoint(tablet) {
		margin: 0 !important;
	}
	@include breakpoint(mobile) {
		margin: 0 !important;
	}
}
#ign-project-content {
  .entry-content {
    width: 800px;
    float: left;
    line-height: 28px;
    color: #444;
    margin-right: 30px;
    margin-top: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
    -moz-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
    box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
    padding-top: 68px;
    padding: 25px;
    text-align: left;
	min-height: 350px;
	@include breakpoint(laptop) {
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
	}
	@include breakpoint(tablet) {
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		margin-right: 0;
    	margin-top: 0;
	}
	@include breakpoint(mobile) {
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		margin-right: 0;
    	margin-top: 0;
	}
	.ign-content-long {
		p {
			margin-bottom: 1.5em;
			font-size: 14px;
		}
	}
	#home-sharing {
		margin-top: 20px;
		border-top: 1px solid #f7f7f7;
		padding-top: 20px;
	}
  }
  #sidebar {
    background-color: #fff;
    margin-top: 30px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
    -moz-box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
    box-shadow: 0 1px 1px 0 rgba(239, 239, 239, 0.8);
    text-align: left;
    line-height: 28px;
	width: 340px;
	@include breakpoint(mobile) {
		width: 100%;
	}
    color: #444;
	h3 {
		&.levels {
			border-top: 1px solid #f7f7f7;
			margin-top: 20px;
		}
	}
    .project-sidebar-wrapper {
      padding: 15px;
      margin-bottom: 20px;
	  border-bottom: 1px solid #f7f7f7;
	  #ign-product-levels {
		  a {
		  	  color: #666674;
			  margin-bottom: 15px;
	  		  border-radius: 4px;
	  		  background-color: #f7f7f7;
	  		  font-size: 13px;
			  display: block;
			  padding: 10px;
			  &.expired {
				  cursor: not-allowed;
			  }
			  &:hover {
				  background-color: $hover_color;
			  }
			.level-group {
				display: inline-block;
				width: 100%;
				.ign-level-title {
					span {
						font-size: 15px;
					}
					.level-price {
						font-size: 15px;
						font-weight: 700;
						line-height: 15px;
						margin-bottom: 8px;
					}
				}
				.ign-level-desc {
					line-height: 18px;
				}
				.ign-level-counts {
					float: right;
					color: $green;
					font-size: 11px;
				}
			}
		}
	  }
    }
    .widget-container {
      margin-bottom: 0;
      line-height: 15px;
    	#ign-project-content #home-sharing {
      	  margin-top: 30px;
    	}
	}
  }
  #home-sharing ul li {
    float: left;
    margin-right: 20px;
    > a i {
      margin-right: 10px;
      font-size: 22px;
      &.fa-facebook-square {
        color: #4981ff;
      }
      &.fa-twitter-square {
        color: #2bc1ff;
      }
      &.fa-google-plus-square {
        color: #ff4e2b;
      }
      &.fa-youtube-square {
        color: #1bb6ec;
      }
    }
  }
}

.ign-supportnow {
    margin-top: 10px;
	width: 200px;
	a {
	    color: #fff;
	    border-radius: 4px;
    	text-align: center;
	    border: 0;
		background-color: $green;
	    font-size: 18px;
		text-decoration: none;
		display: block;
		padding: 10px;
		font-weight: 700;
		text-transform: uppercase;
		&.expired {
			cursor: not-allowed;
		}

		&:hover  {
			background-color: $hover_color;
			color: $hover_text_color;
		}
	}
	&.mobile {
		display: none;
	}
}

.ign-project-content {
	display: block;
}

//tabs
.content_tabs {
    border-bottom: 3px solid $green;
    margin: 0;
	display: inline-block;
	width: 100%;
	padding-left: 0 !important;
	li {
		  display: inline-block;
		  float: left;
		  margin: 0;
		  padding: 10px 15px;
		  background: #fcfcfc;
		  color: #444;
		  line-height: 16px;
		  margin-bottom: 0 !important;
		  cursor: pointer;
		  &:hover {
			  color: #fff;
			  background-color: $green;
		  }

		&.active {
			background-color: $green;
			span {
				color: #fff;
			}
		}
	}
}

.content_tab {
	display: none;
	ul {
		&.ign_backer_list {
		 padding-left: 0;
		}
	}
	&.active {
		display: block;
	}
	p {
		font-size: 14px;
	}
}


// grid header
.grid-header {
	ul {
	  display: inline-block;
	  list-style: none;
	  position: relative;
	  margin-top: 10px;
	  margin-bottom: 10px;
	  ul {
		  display: none;
	      width: auto;
	  	  position: absolute;
	      border: none;
	      transition: all 100ms ease 0;
	      margin: 0 -1px;
	      padding: 0;
	      z-index: 99;
	      border: none;
		  li {
			 display: block;
		     padding: 0;
		     margin: 0;
		     white-space: nowrap;
		     background: #fcfcfc;
		  }
	  }
	  li {
		  list-style: none;
		  display: inline-block;
		  margin: 0;
		  float: left;
		  ul {
			  li {
				  width: 100%;
				  &:hover {
				  	color: #fff;
					background-color: $green;
				  }
				  a {
					  display: block;
					  padding: 8px;
					  text-decoration: none;
					  background: #fcfcfc;
					  color: #444;
					  font-size: 14px;
					  &.active {
						  color: #fff;
						  background-color: $green;
					  }
					  &:hover {
					  	color: #fff;
						background-color: $green;
					  }
				  }
			  }
		  }
		  &:hover  {
			  ul {
				  display: block;
			  }
		  }
		  &.filter_submenu {
			  &:hover {
				  span {
				      border-top: none;
				      border-bottom: none;
				      margin: 0;
					  cursor: pointer;
				  	  color: #fff;
					  background-color: $green;
				  }
			  }
			  span {
				  display: inline-block;
			      margin: 0;
			      padding: 8px 6px;
			      list-style: none;
			      text-decoration: none;
				  font-size: 14px;
				  background: #fcfcfc;
			  }
		  }
		  strong {
			  display: block;
			  padding-top: 8px;
			  margin-right: 5px;
			  font-size: 14px;
		  }
		  &.filter_choice a {
			  display: block;
			  padding: 8px;
			  text-decoration: none;
			  background: #fcfcfc;
			  color: #444;
			  font-size: 14px;
				  &.active {
					  color: #fff;
					  background-color: $green;
				  }
				  &:hover {
				  	color: #fff;
					background-color: $green;
				  }
		}

	  }
	}
}

// social share
#ign-hDeck-social {
  margin: 10px 0 10px 20px;
  width: 100%;
  #share-embed {
	margin-top: 6px;
	position: relative;
  }
  .social-share {
    line-height: 20px;
    width: auto;
    height: 20px;
    max-width: 80px;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
	&.fb_iframe_widget {
		display: inline-block;
		position: relative;
	}
	&#share-twitter {
  	  margin-right: 0;
	}
	&#share-linkedin {
 	   width: 71px;
	}
	&#share-google {
  	  width: 67px;
	}
	&#share-pinterest {
  	  width: 50px;
	}
	&.embed-box {
	  font-size: 10px;
	  width: 90%;
	  height: auto;
	  max-width: 560px;
	  line-height: 10px;
	  background: #fff;
	  border: 1px solid #ccc;
	  padding: 5px;
	  margin: -8px 0 0 0;
	  cursor: text;
	  display: block;
	  code {
		  font-size: 10px;
		  line-height: 12px !important;
		  color: #000;
	  }
	}
  }
}

.idsocial-post-icons.ignitiondeck {
	@extend #ign-hDeck-social;
}
// learn more universal link
.ign-more-projects {
	a {
		color: $green;
		font-size: 14px;
		&:hover {
			text-decoration: underline;
		}
	}
	&.front-page {
		font-weight: bold;
		margin: 20px 15px 0 0;
		.button {
			margin-left: 0;
		}
	}
}

.button, a.button, a.button:visited {
	text-align: center;
	color: #fff;
	background-color: $green;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid transparent;
	padding: 5px 19px;
	margin: 15px 10px;
	cursor: pointer;
	display: inline-block;
	width: auto;
	box-shadow: none;
	text-indent: 0;
	&:hover {
		background-color: $hover_color;
		color: $hover_text_color;
	}
	&.border {
		border: 1px solid;
		background-color: transparent;
	}
}
#home-sharing ul li.insta-btn i {
	font-size: 1.2em;
	margin-right: 5px;
}
#home-sharing ul li.twitter-btn i {
	font-size: 1.2em;
	margin-right: 5px;
}
#home-sharing ul li.facebook-btn i {
	font-size: 1.2em;
	margin-right: 5px;
}
#home-sharing ul li.gplus-btn i {
	font-size: 1.2em;
	margin-right: 5px;
}
#home-sharing ul li.linkedin-btn i {
	font-size: 1.2em;
	margin-right: 5px;
}

.idsocial-wp-fb-login
{padding-top: 0;padding-bottom: 40px;}
