//footer
footer {
	#footer-container {
		width: 90%;
		min-width: 320px;
		max-width: 1100px;
		margin: 0 auto;
		clear: both;
		padding: 0;
		background: transparent;
		box-shadow: none;
		@include breakpoint(tablet) {
			width: 100%;
		}
		@include breakpoint(phone) {
			width: 100%;
		}
	}
  .fullwindow {
    position: static;
    margin: 0;
    height: auto;
    padding: 0;
  }
  .fullwindow-internal {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    left: 0;
    padding: 0;
    background-position: center 50%;
    background-size: cover;
	&.bottom-footer {
		background-color: #323537;
	}
  }
  .constrained {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 0 5px;
    color: #fff;
	@include breakpoint(tablet) {
		width: 90%;
	}
	@include breakpoint(mobile) {
		width: 90%;
	}
  }
  .ign-content-fullalt {
    margin: 0;
    padding: 0;
    border-top: 5px solid transparent;
    margin-top: -5px;
  }
}

.footercontent {
  background-color: #383b3d;
}

.widget-content {
  color: #929699;
  font-size: 15px;
  font-weight: 200;
}

.footer_widgets {
  border-top: none;
  padding-top: 50px;
  padding-bottom: 30px;
  @include breakpoint(tablet) {
	  padding-top: 10px;
	  padding-bottom: 10px;
 }
 @include breakpoint(mobile) {
  padding-top: 10px;
  padding-bottom: 10px;
}
}

.widgetsocialicons {
  margin-top: 30px;
  i {
    float: left;
    color: #929699;
    margin-right: 10px;
    font-size: 20px;
  }
}

#container {
	.footer_widgets {
		.foter-widget-container  {
			h3 {
				margin-bottom: 30px !important; 
			}
		}
	}
}
.footer_widgets {
  .footer-widget-container {
    h3 {
      color: #fff;
      font-size: 18px;
      border-bottom: 0;
      font-weight: 200;
      margin: 0;
      margin-bottom: 30px;
	  @include breakpoint(tablet) {
		  margin-bottom: 5px;
	  }
	  @include breakpoint(mobile) {
		  margin-bottom: 5px;
	  }
    }
    li {
      font-size: 14px;
      font-weight: 200;
      list-style: none;
      line-height: 1.9em;
    }
    a {
      color: #858585;
      text-decoration: none;
	  &:hover {
		  color: #e0e0e0;
	  }
    }
  }
  li:first-child:nth-last-child(4) ~ li {
    width: 100% !important;
  }
}

#footerlist .footer_widgets {
  li {
    width: 100% !important;
  }
  > li {
    &:nth-child(1) {
      margin-right: 90px;
      width: 25% !important;
  	  @include breakpoint(tablet) {
		  width: 100% !important;
		  margin-right: 0px;
  	  }
  	  @include breakpoint(mobile) {
		 width: 100% !important;
		 margin-right: 0px;
  	  }
    }
    &:nth-child(2) {
      width: 10% !important;
      margin-right: 30px;
	 @include breakpoint(tablet) {
		  width: 50% !important;
		  margin-right: 0px;
  	  }
  	  @include breakpoint(mobile) {
		 width: 50% !important;
		 margin-right: 0px;
  	  }
    }
    &:nth-child(3) {
      width: 10% !important;
      margin-right: 90px;
	
  	  @include breakpoint(tablet) {
		  width: 50% !important;
		  margin-right: 0px;
  	  }
  	  @include breakpoint(mobile) {
		 width: 50% !important;
		 margin-right: 0px;
  	  }
    }
    &:nth-child(4) {
      width: 36% !important;
	  @include breakpoint(tablet) {
		  width: 100% !important;
		  margin-right: 0px;
  	  }
  	  @include breakpoint(mobile) {
		 width: 100% !important;
		 margin-right: 0px;
  	  }
	  
    }
  }
}

.footer_widgets {
	.widgeticons {
		padding-left: 0;
	}
    input {
	  border-radius: 4px 4px 4px 4px;
      border: 1px solid #484e51;
      background-color: transparent;
      width: 250px;
	  margin-bottom: 3px;
	  @include breakpoint(tablet) {
		  width: 100%;
		  margin-top: 5px;
	  }
	  @include breakpoint(mobile) {
		  width: 100%;
		  margin-top: 5px;
	  }
      padding: 15px;
      float: left;
      margin-right: 10px;
	  
		 &::-webkit-input-placeholder {
	      color: #484e51;
	      font-size: 12px;
	      font-style: italic;
	    }
	    &::-moz-placeholder {
	      /* Firefox 19+ */
	      color: #484e51;
	      font-size: 12px;
	      font-style: italic;
	    }
	    &:-ms-input-placeholder {
	      color: #484e51;
	      font-size: 14px;
	      font-style: italic;
	    }
	}
    input[type=submit] {
	  border-radius: 4px 4px 4px 4px;
      background-color: #484e51;
      border: 1px solid transparent;
      color: #b3b7b9;
      font-size: 14px;
      padding: 15px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      text-decoration: none;
      font-weight: 400;
      float: left;
	  margin-top: 0;
	  &:hover {
		  color: #b3b7b9;
		  background-color: #666;
	  }
   }
  .footer-widget-container .subscribetext {
    color: #a6aaad;
    font-size: 14px;
    font-weight: 200;
    margin-top: 20px;
	@include breakpoint(tablet) {
		margin-top: 0;
	}
	@include breakpoint(mobile) {
		margin-top: 0;
	}
    a {
      color: #fff;
    }
  }
}


footer {
  #copyright {
    font-size: 14px;
    float: left;
    color: #929699;
    text-decoration: none;
    font-weight: 200;
    width: 500px;
    @include breakpoint(tablet) {
  	  text-align: center;
  	  width: 100%;
	  float: none;
	  display: block;
    }
    @include breakpoint(mobile) {
  	  text-align: center;
  	  width: 100%;
	  float: none;
	  display: block;
    }
    a {
      color: $green;
      text-decoration: none;
	  &:hover {
		  color: $hover_color;
	  }
    }
  }
  .centercircle {
    border-radius: 80px;
    margin-top: -20px;
    height: 110px;
    width: 110px;
    background-color: #323537;
    float: left;
	@include breakpoint(tablet) {
		display: none;
	}
	@include breakpoint(mobile) {
		display: none;
	}
	.toparrow {
        color: #73777b;
        font-size: 12px;
        font-weight: 200;
        display: block;
		margin-top: 50px;
        width: 160px;
  	  	margin-left: -3px;
		&:hover {
			.go-text {
				opacity: 1;
				transition: opacity .25s ease-in-out;
			}
		}
		.go-text {
			display: inline-block;
			opacity: 0;
			vertical-align: text-top;
		}
		a {
	        color: #73777b;
	        text-decoration: none;
	        margin-left: 6px;
	        margin-right: 6px;
			display: inline-block;
			&:hover {
				color: #e0e0e0;
			}
	        i {
	          font-size: 26px;
	        }
		}
	}
  }
}

.themelink {
  padding-top: 40px;
  display: block;
  @include breakpoint(tablet) {
	  text-align: center;
	  width: 100%;
  }
  @include breakpoint(mobile) {
	  text-align: center;
	  width: 100%;
  }
}

.footerright {
  float: right;
  #menu-footer {
	  float: left;
  }
  #home-sharing {
	  float: left;
	  display:table; 
	  width: auto;
	  border-left: 1px solid #858585;
	  @include breakpoint(tablet) {
		  border-left: 0;
	  }
	  @include breakpoint(mobile) {
		  border-left: 0;
		  padding-top: 10px;
		  padding-bottom: 10px;
	  }
	  padding-left: 10px;
	  ul {
	  	 display:table-row; 
	  	 width: 100%;
		  li {
		  	display: table-cell; 
		  	text-align: left; 
		  	width: auto;
			a {
			  	display: block;
			  	width: auto;
			  	padding: 0;
			  	line-height: 1;
			  	text-decoration: none;
			  	font-size: 14px;
			  	color: #858585;
				&:hover {
					color: #e0e0e0;
				}
			 }
		  }
	  }
  }
  @include breakpoint(tablet) {
	  float: none;
	  padding-bottom: 20px;
	  padding-top: 20px;
	  width: 100%;
  }
  @include breakpoint(mobile) {
	  float: none;
	  padding-bottom: 20px;
	  padding-top: 20px;
	  width: 100%;
  }
  padding-top: 35px;
  li {
    list-style: none;
    float: left;
    a {
      color: #858585;
      text-decoration: none;
      margin-right: 10px;
      font-size: 14px;
      font-weight: 200;
	  &:hover {
		  color: #e0e0e0;
	  }
    }
  }
}
