// idc overrides form 
.md-requiredlogin.login {
	input[type=checkbox], input[type=radio]{
		display: inline-block;
		width: 20px;
		float: left;
		position: relative;
		top: 5px;
	}
	input[type=checkbox] {
		 -webkit-appearance: checkbox;
	}
	input[type=radio] {
		 -webkit-appearance: radio;
	}
	input[type=checkbox] + label {
		display: inline-block;
		vertical-align: middle;
	}
	input[type=radio] + label {
		display: inline-block;
		vertical-align: middle;
	}
	label {
	  color: #455a64;
	  display: block;
	  font-size: 12px;
	  font-weight: 700;
	  text-indent: 3px;
	  vertical-align: text-bottom;
	  padding-left: 8px;
	  padding-bottom: 4px;
	  text-transform: uppercase;
	}
	.radio label {
		margin-left: 0;
		position: relative;
		margin-top: 4px;
	}
	.checkbox label {
		margin-left: 0;
		position: relative;
		margin-top: 4px;
	}
	input {
	  font-size: 13px;
	  line-height: 18px;
	  padding: 8px;
	  height: inherit;
	  color: #90a4ae;
	  display: block;
	  border: 1px solid #e7ebed;
	  border-radius: 4px 4px 4px 4px;	
	  width: 100%;
	  background: #fdfdfd;
	  font-weight: 100;
	}
}
.md-requiredlogin #wp-submit {
	text-align: center;
	color: #fff;
	background-color: $green;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid transparent;
	padding: 9px 19px;
	margin: 8px auto;
	cursor: pointer;
	display: block;
	width: auto;
	box-shadow: none;
	text-indent: 0;
	&:hover {
		background-color: $hover_color;
		color: $hover_text_color;
	}
}

.memberdeck button, .memberdeck input[type="submit"], .memberdeck form .form-row input[type="submit"] {
	text-align: center;
	color: #fff;
	background-color: $green;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid transparent;
	padding: 9px 19px;
	margin: 8px auto;
	cursor: pointer;
	display: block;
	width: auto;
	box-shadow: none;
	text-indent: 0;
	&:hover {
		background-color: $hover_color;
		color: $hover_text_color;
	}
}
.ignitiondeck .backer_profile {
	font-family: "Open Sans";
}
.memberdeck {
	font-family: "Open Sans";
	 form .form-row {
		 input {
	 	   	  font-size: 13px;
	 	   	  line-height: 18px;
	 	   	  padding: 8px;
	 	   	  height: inherit;
	 	   	  color: #90a4ae;
	 	   	  display: block;
	 	   	  border: 1px solid #e7ebed;
	 	   	  border-radius: 4px 4px 4px 4px;	
	 	   	  width: 100%;
	 	   	  background: #fdfdfd;
	 	   	  font-weight: 100;
	 	 }
		 textarea {
 	   	  font-size: 13px;
 	   	  line-height: 18px;
 	   	  padding: 8px;
 	   	  height: inherit;
 	   	  color: #90a4ae;
 	   	  display: block;
 	   	  border: 1px solid #e7ebed;
 	   	  border-radius: 4px 4px 4px 4px;	
 	   	  width: 100%;
 	   	  background: #fdfdfd;
 	   	  font-weight: 100;
		 }
	 }
	.md-profile .project-funded {
		color: $green;
	}
	.md-box table td a i {
		color: $green;
	}
	ul {
		list-style: none;
		li {
			list-style: none;
		}
	}
}

.ignitiondeck.backer_profile .backer_projects li.backer_project_mini .backers_funded, .ignitiondeck.backer_profile .backer_data .backer_supported {
	color: $green;
}

.ignitiondeck.backer_profile .backer_projects li.backer_project_mini .backers_days_left {
	background-color: $green;
}

#fivehundred {
	.ignitiondeck {
		&#stellar_lightbox {
			form {
				p {
					line-height: 18px !important;
					font-size: 13px;
					color: #666674 !important;
					text-transform: capitalize !important;
					font-weight: normal !important;
				}
				input {
		 	   	  font-size: 13px;
		 	   	  line-height: 18px;
		 	   	  padding: 8px;
		 	   	  color: #90a4ae;
		 	   	  display: block;
		 	   	  border: 1px solid #e7ebed;
		 	   	  border-radius: 4px 4px 4px 4px;	
		 	   	  width: 100%;
		 	   	  background: #fdfdfd;
		 	   	  font-weight: 100;
				}
				label {
				  color: #455a64;
				  display: block;
				  font-size: 12px;
				  font-weight: 700;
				  text-indent: 3px;
				  vertical-align: text-bottom;
				  padding-left: 8px;
				  padding-bottom: 4px;
				  text-transform: uppercase;
				}
				input[type="submit"] {
					text-align: center;
					color: #fff;
					background-color: $green;
					font-weight: 400;
					text-transform: uppercase;
					font-size: 12px;
					border-radius: 4px 4px 4px 4px;
					border: 1px solid transparent;
					padding: 9px 19px;
					margin: 8px auto;
					cursor: pointer;
					display: block;
					width: auto;
					box-shadow: none;
					text-indent: 0;
					&:hover {
						background-color: $hover_color;
						color: $hover_text_color;
					}
				}
			}
		}
	}
}

#content {
	.ignitiondeck {
		font-family: "Open Sans";
		form {
			&#fes {
				input[type="submit"] {
					text-align: center;
					color: #fff;
					background-color: $green;
					font-weight: 400;
					text-transform: uppercase;
					font-size: 12px;
					border-radius: 4px 4px 4px 4px;
					border: 1px solid transparent;
					padding: 9px 19px;
					margin: 8px auto;
					cursor: pointer;
					display: block;
					width: auto;
					box-shadow: none;
					text-indent: 0;
					&:hover {
						background-color: $hover_color;
						color: $hover_text_color;
					}
				}
				input {
	  	 	   	  font-size: 13px;
	  	 	   	  line-height: 18px;
	  	 	   	  padding: 8px;
	  	 	   	  height: inherit;
	  	 	   	  color: #90a4ae;
	  	 	   	  display: block;
	  	 	   	  border: 1px solid #e7ebed;
	  	 	   	  border-radius: 4px 4px 4px 4px;	
	  	 	   	  width: 100%;
	  	 	   	  background: #fdfdfd;
	  	 	   	  font-weight: 100;
				}
				.radio label {
					margin-left: -4px;
					position: relative;
					margin-top: -4px;
				}
				.checkbox label {
					margin-left: 0;
					position: relative;
					margin-top: 4px;
				}
				h3 {
					padding-bottom: 15px;
				}
				input[type=checkbox] {
					 -webkit-appearance: checkbox;
					 width: 20px;
				}
				input[type=radio] {
					 -webkit-appearance: radio;
					 width: 20px;
				}
				input[type=button] {
				    display: inline-block;
				    width: auto;
				    text-indent: 0;
				}
				input[type="file"] {
				  text-indent: 0;
				  background: transparent;
				  border: 0;
				  font-size: 12px;
				  cursor: pointer;
				}
	   		    textarea {
	    	   	  font-size: 13px;
	    	   	  line-height: 18px;
	    	   	  padding: 8px;
	    	   	  height: inherit;
	    	   	  color: #90a4ae;
	    	   	  display: block;
	    	   	  border: 1px solid #e7ebed;
	    	   	  border-radius: 4px 4px 4px 4px;	
	    	   	  width: 100%;
	    	   	  background: #fdfdfd;
	    	   	  font-weight: 100;
	   		   }
			   	input[type=checkbox], input[type=radio]{
			   		display: inline-block;
			   		width: 20px;
			   		float: left;
			   		position: relative;
			   		top: 0px;
			   	}
			}
		}
	}
}
