@include breakpoint(tablet) {
	.memberdeck {
		.checkout-title-bar {
			span {
				&:active {
					left: 0;
					width: 100%;
				}
				&.currency-symbol {
					line-height: 32px;
				}
				&.chckout-project-title {
					span {
						line-height: 32px;
					}
				}
				a {
					line-height: 32px;
				}
			}
		}
	}
}


@include breakpoint(mobile) {
	.memberdeck {
		.checkout-title-bar {
			span {
				&:active {
					left: 0;
					width: 100%;
				}
				&.currency-symbol {
					line-height: 32px;
				}
				&.chckout-project-title {
					span {
						line-height: 32px;
					}
				}
				a {
					line-height: 32px;
				}
			}
		}
	}
}


@include breakpoint(tablet) {
	.footer_widgets {
		.footer-widget-container {
				padding: 2px;
				margin: 2px 0;
			}
	}
}

@include breakpoint(mobile) {
	.footer_widgets {
		.footer-widget-container {
				padding: 2px;
				margin: 2px 0;
			}
	}
}
