#wrapper {
	#header {
		@include breakpoint(tablet) {
			padding: 0;
			height: 0;
		}
		@include breakpoint(mobile) {
			padding: 0;
			height: 0;
		}
	}
}

// slider
#containerwrapper {
	#container {
		
		@include breakpoint(mobile) {
			width: 100%;
			min-width: 316px;	
		}
		.constrained {
			@include breakpoint(laptop) {
				width: 90%;	
			}
			@include breakpoint(tablet) {
				width: 90%;	
			}
			@include breakpoint(mobile) {
				width: 90%;	
			}
		}
	}

	.sliderimages-fullwindow {
		height: 510px;
		@include breakpoint(laptop) {
			height: 520px;
		}
		@include breakpoint(tablet) {
			height: 554px;
		}
		@include breakpoint(mobile) {
			position: static;
		}
		.fh_widget {
			background-color: transparent;
			box-shadow: none;
			margin: 0 !important;
		}
		
		.fullwindow-internal {
			top: 0px;
			@include breakpoint(tablet) {
				padding-top: 70px;
				background-color: #323537;
			}
			@include breakpoint(mobile) {
				padding-top: 70px;
				background-color: #323537;
			}
			.ign-content-fullalt {
				.ign-text-container {
					h3 {
						color: #fff;
					}
					.ign-content-text {
						color: #fff;
					}
				}
			}
			.stellar_slider {
			
			}
			.stellar_placeholder_image {
				position: relative;
				height: 630px;
				.stellar_demo_image {
					width: 100%;
					height: 100%;
				    background-color: rgba(0, 0, 0, 0);
				    background-size: cover;
				    background-position: 50% 0%;
				    background-repeat: no-repeat;
					position: absolute;
				}
				
				.stellar_placeholder {
					top: 230px;
					@include breakpoint(tablet) {
						top: 150px;
					}
					@include breakpoint(mobile) {
						top: 160px;
					}
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					text-align: center;
					h1 {
						color: #fff;
						font-size: 42px;
					    font-family: "open sans";
						line-height: 42px;
						font-weight: 300;
						margin-bottom: 40px;
					}
					h3 {
						color: #fff;
						&.site-description {
							font-size: 24px;
						    font-weight: 300;
						    font-family: "open sans";
							line-height: 42px;
						}
					}
				}
				.stellar_header_text {
					@extend .stellar_placeholder;
				}
			}
			.slider-image-wrapper {
				position: relative;
				width: 100%;
				height: auto;
				margin-top: 0px;
				margin-bottom: 0px;
				.stellar_header_text {
					top: 230px;
					@include breakpoint(tablet) {
						top: 150px;
					}
					@include breakpoint(mobile) {
						top: 160px;
					}
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					text-align: center;
					h1 {
						color: #fff;
						font-size: 42px;
						line-height: 42px;
						font-weight: 300;
						margin-bottom: 40px;
						font-family: "open sans";
					}
					h3 {
						color: #fff;
					    font-family: "open sans";
						&.site-description {
							font-size: 24px;
							line-height: 42px;
							font-weight: 300;
						    font-family: "open sans";
						}
					}
				}
				.stellar_placeholder {
					@extend .stellar_header_text;
					h1 {
						color: #fff;
						line-height: 42px;
						font-weight: 300;
						margin-bottom: 40px;
					}
				}
				.slider-static-image {
					@include breakpoint(tablet) {
						position: relative;
					}
					@include breakpoint(mobile) {
						position: relative;
					}
					width: 100%;
					height: 100%;
					min-height: 630px;
				    background-color: rgba(0, 0, 0, 0);
				    background-size: cover;
				    background-position: 50% 0%;
				    background-repeat: no-repeat;
					position: absolute;
				}
			}
		}
	}
}

.slidercta {
  text-align: center;
  margin-top: 80px;
	a {
	  &.ctagreen {
	    -webkit-border-radius: 6px 6px 6px 6px;
	    -moz-border-radius: 6px;
	    border-radius: 6px 6px 6px 6px;
	    background-color: $green;
	    color: #fff;
	    padding: 15px;
	    padding-left: 35px;
	    padding-right: 35px;
	    text-align: center;
	    text-decoration: none;
	    margin-right: 20px;
	    font-weight: 700;
		font-size: 16px;
	  }
	  &:hover.ctagreen {
	    text-decoration: none;
		background-color: rgba(0, 246, 168, 0.9);
		color: $hover_text_color;
	  }
	  &.ctagrey {
	    -webkit-border-radius: 6px 6px 6px 6px;
	    -moz-border-radius: 6px;
	    border-radius: 6px 6px 6px 6px;
	    background-color: #fff;
	    color: #000;
	    padding: 15px;
	    text-align: center;
	    text-decoration: none;
	    font-weight: 700;
		font-size: 16px;
	  }
	  &:hover.ctagrey {
	    text-decoration: none;
		background-color: #e0e0e0;
		color: #858585;
	  }
	}
}
// Logo container 

#containerwrapper .logocontainer-fullwindow {
 	min-height: 100px;
}


.logocontainer {
  @include breakpoint(mobile) {
	  margin-bottom: -41px;
	  margin-top: -130px;
  }
  a {
	  display: block;
	  width: auto;
	  padding: 21px;
	  text-align: center;
	  float: left;
	  @include breakpoint(laptop) {
		  padding-right: 10px;
		  padding-left: 10px;
	  }
	  @include breakpoint(tablet) {
		  padding: 5px;
	  }
	  @include breakpoint(mobile) {
		  float: none;
	  }
	  img {
	    vertical-align: middle;
	  	  @include breakpoint(tablet) {
	  		  max-width: 85%;
	  	  }
	  	  @include breakpoint(laptop) {
	  		  max-width: 85%;
	  	  }
	  }
  }
 
}