
// woocommerce 

.woocommerce {
	.shop_table {
		&.cart {
			input {
				&.button {
					float: right;
				}
			}
			.button {
				float: right;
			}
		}
	}
	.woocommerce-message {
		border-top-color: $green;
		&:before {
			color: $green;
		}
	}
	input {
		&.button {
			text-align: center;
			color: #fff;
			background-color: $green;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 12px;
			border-radius: 4px 4px 4px 4px;
			border: 1px solid transparent;
			padding: 12px 19px;
			margin: 0px auto;
			cursor: pointer;
			display: block;
			width: auto;
			box-shadow: none;
			text-indent: 0;
			&:hover {
				background-color: $hover_color;
				color: $hover_text_color;
			}
			&:disabled[dsiabled] {
				&:hover {
					background-color: $hover_color;
					color: $hover_text_color;
				}
			}
			&.disabled {
				&:hover {
					background-color: $hover_color;
					color: $hover_text_color;
				}
			}
			&.alt {
				text-align: center;
				color: #fff;
				background-color: $green;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 12px;
				border-radius: 4px 4px 4px 4px;
				border: 1px solid transparent;
				padding: 12px 19px;
				margin: 0px auto;
				cursor: pointer;
				display: block;
				width: auto;
				box-shadow: none;
				text-indent: 0;
				&:hover {
					background-color: $hover_color;
					color: $hover_text_color;
				}
				&:disabled[dsiabled] {
					&:hover {
						background-color: $hover_color;
						color: $hover_text_color;
					}
				}
				&.disabled {
					&:hover {
						background-color: $hover_color;
						color: $hover_text_color;
					}
				}
			}
		}
	}
	&.button {
		&.button {
			text-align: center;
			color: #fff;
			background-color: $green;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 12px;
			border-radius: 4px 4px 4px 4px;
			border: 1px solid transparent;
			padding: 12px 19px;
			margin: 0px auto;
			cursor: pointer;
			display: block;
			width: auto;
			box-shadow: none;
			text-indent: 0;
			&:hover {
				background-color: $hover_color;
				color: $hover_text_color;
			}
			&:disabled[dsiabled] {
				&:hover {
					background-color: $hover_color;
					color: $hover_text_color;
				}
			}
			&.disabled {
				&:hover {
					background-color: $hover_color;
					color: $hover_text_color;
				}
			}
			&.alt {
				text-align: center;
				color: #fff;
				background-color: $green;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 12px;
				border-radius: 4px 4px 4px 4px;
				border: 1px solid transparent;
				padding: 12px 19px;
				margin: 0px auto;
				cursor: pointer;
				display: block;
				width: auto;
				box-shadow: none;
				text-indent: 0;
				&:hover {
					background-color: $hover_color;
					color: $hover_text_color;
				}
				&:disabled[dsiabled] {
					&:hover {
						background-color: $hover_color;
						color: $hover_text_color;
					}
				}
				&.disabled {
					&:hover {
						background-color: $hover_color;
						color: $hover_text_color;
					}
				}
			}
		}
	}
	a {
		&.button {
			text-align: center;
			color: #fff;
			background-color: $green;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 12px;
			border-radius: 4px 4px 4px 4px;
			border: 1px solid transparent;
			padding: 12px 19px;
			margin: 0px auto;
			cursor: pointer;
			display: block;
			width: auto;
			box-shadow: none;
			text-indent: 0;
			&:hover {
				background-color: $hover_color;
				color: $hover_text_color;
			}
			&:disabled[dsiabled] {
				&:hover {
					background-color: $hover_color;
					color: $hover_text_color;
				}
			}
			&.disabled {
				&:hover {
					background-color: $hover_color;
					color: $hover_text_color;
				}
			}
			&.alt {
				text-align: center;
				color: #fff;
				background-color: $green;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 12px;
				border-radius: 4px 4px 4px 4px;
				border: 1px solid transparent;
				padding: 12px 19px;
				margin: 0px auto;
				cursor: pointer;
				display: block;
				width: auto;
				box-shadow: none;
				text-indent: 0;
				&:hover {
					background-color: $hover_color;
					color: $hover_text_color;
				}
				&:disabled[dsiabled] {
					&:hover {
						background-color: $hover_color;
						color: $hover_text_color;
					}
				}
				&.disabled {
					&:hover {
						background-color: $hover_color;
						color: $hover_text_color;
					}
				}
			}
		}
	}
	#respond {
		input {
			&[type="submit"] {
				text-align: center;
				color: #fff;
				background-color: $green;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 12px;
				border-radius: 4px 4px 4px 4px;
				border: 1px solid transparent;
				padding: 12px 19px;
				margin: 0px auto;
				cursor: pointer;
				display: block;
				width: auto;
				box-shadow: none;
				text-indent: 0;
				&:hover {
					background-color: $hover_color;
					color: $hover_text_color;
				}
				&:disabled[dsiabled] {
					&:hover {
						background-color: $hover_color;
						color: $hover_text_color;
					}
				}
				&.disabled {
					&:hover {
						background-color: $hover_color;
						color: $hover_text_color;
					}
				}
				&.alt {
					text-align: center;
					color: #fff;
					background-color: $green;
					font-weight: 700;
					text-transform: uppercase;
					font-size: 12px;
					border-radius: 4px 4px 4px 4px;
					border: 1px solid transparent;
					padding: 12px 19px;
					margin: 0px auto;
					cursor: pointer;
					display: block;
					width: auto;
					box-shadow: none;
					text-indent: 0;
					&:disabled[dsiabled] {
						&:hover {
							background-color: $hover_color;
							color: $hover_text_color;
						}
					}
					&.disabled {
						&:hover {
							background-color: $hover_color;
							color: $hover_text_color;
						}
					}
					&:hover {
						background-color: $hover_color;
						color: $hover_text_color;
					}
				}
			}
		}
	}
}

.woocoommerce {
	span {
		&.onsale {
			background-color: $green;
		}
	}
	ul {
		&.products {
			li {
				&.product {
					.price {
						color: $green;
					}
					border: 3px solid transparent;
					&:hover {
						border: 3px solid $green;
						border-bottom-left-radius: 8px;
						border-bottom-right-radius: 8px;
					}
				}
			}
		}
	}
	div {
		&.product {
			p {
				&.price {
					color: $green;
				}
			}
			span {
				&.price {
					color: $green;
				}
			}
			.woocommerce-tabs {
				ul {
					&.tabs {
						li {
							background-color: #f7f7f7;
							border-radius: 0;
							&:hover {
								background-color: $green;
								color: #fff;
							}
							a {
								background-color: $green;
								color: #fff;
								background-color: #f7f7f7;
								border-radius: 0;
								&:hover {
									background-color: $green;
									color: #fff;
								}
							}
							&:active {
								background-color: $green;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}


.woocommerce-page {
	table {
		&.cart {
			td {
				&.actions {
					.input-text {
						width: 110px;
					}
				}
			}
		}
	}
	#content {
		table {
			&.cart {
				td {
					&.actions {
						.input-text {
							width: 110px;
							line-height: 24px;
						}
					}
				}
			}
		}
	}
	ul {
		&.products {
			li {
				&.product {
					border: 3px solid transparent;
					h3 {
						color: #444;
					}
					&:hover {
						border: 3px solid $green;
						border-bottom-left-radius: 8px;
						border-bottom-right-radius: 8px;
					}
				}
			}
		}
	}
}

.woocommerce-cart {
	table {
		&.cart {
			th {
				a {
					color: #444;
				}
			}
			td {
				&.action {
					.input-text {
					    font-size: 13px;
					    line-height: 18px;
					    padding: 8px;
					    height: inherit;
					    color: #90a4ae;
					    display: block;
					    border: 1px solid #e7ebed;
					    border-radius: 4px 4px 4px 4px;	
					    width: 100%;
					    background: #fdfdfd;
					    font-weight: 100;
					}
				}
				a {
					color: #444;	
				}
			}
		}
	}
}

.woocommerce {
	table {
		&.cart {
			td {
				&.actions {
					.input-text {
						width: 110px;
					}
				}
			}
		}
	}
	#content {
		table {
			&.cart {
				td {
					&.actions {
						.input-text {
							width: 110px;
						}
					}
				}
			}
		}
	}
	.woocommerce-info {
		border-top-color: $green;
		&:before {
			color: $green;
		}
	}
}

.woocommerce {
	input[type=checkbox] + label {
		position: relative;
		top: -5px;
		margin-left: -20px;
	}
	input[type=radio] + label {
		position: relative;
		top: -5px;
		margin-left: -20px;
	}
}
