#fh_theme_settings {
	.slider-static-text {
		display: none;
	}
	.fd_home_project {
		display: none;
	}
	.fd_featured {
		display: none;
	}
	.fd_blog_page {
		display: none;
	}
	.fd_about_us {
		display: none;
	}
	.form-table {
		td {
			p {
				&.logo-text {
					display: none;
				}
			}
		}
	}
}