body{
  background:#FFFFFF;
  font-family: "Montserrat";
}

body.login div#login h1 a {
  background-image: url("../images/fundblack-header-logo.png");
  background-size: 60%;
  background-position: center center;
  width: 100%;
  margin: 0 auto;
}

.login #login form{
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-top: 0;
  padding: 26px 24px 0px;
}
.login #login label{
  color: #9B9B9B;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 3px;
  text-transform: none ;
  font-weight: normal;
}
.login form .input, .login form input[type=checkbox], .login input[type=text]{
  background: transparent;
}
.login form .input, .login input[type=text]{
  color: #78C29D;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  padding: 13px 8px;
  background: transparent;
  font-weight: 400;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary,.wp-core-ui .button.button-large{
  font-size: 14px;
  min-width: 131px;
  border-radius: 25px;
  background-color: #78C29D;
  color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  margin: 8px auto;
  cursor: pointer;
  display: block;
  width: auto;
  font-weight: 400;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
  height: auto;
}
.login #backtoblog, .login #nav{
  display: flex;
  justify-content: center;
}
.login #backtoblog a, .login #nav a{
  text-align: center;
  color: #353535;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  text-transform: none;
  padding-left: 0;
}
.login form .forgetmenot{
  float: none;
}
#login form p.submit{
  display: flex;
  width: 100%;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset!important; /* Change the color to your own background color */
  -webkit-text-fill-color: #333!important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset!important;;
  -webkit-text-fill-color: #333!important;
  border-bottom-color: #78C29D!important;
}
input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus{
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  border-bottom-color: #78C29D;
}

.login #login_error, .login .message{
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #9B9B9B;
  font-weight: 300;
}

.login .message{
  border-left: 4px solid #78C29D;
}
